/*----------------------------------------------------------------------------- 
=MAIN STYLES  
-----------------------------------------------------------------------------*/

.banner img {
	 width: 100%;
}

.marketing .row {
	text-align: center;
	color: rgba(28,91,109,.85);	
}

.navbar {
	margin-bottom: 0; /* removes default excess margin */
}

.divider {
  margin: 80px 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  color: rgba(28,91,109,.85);
}


blockquote.ieverse pre {
    font-family: sans-serif;
    text-align: center;
    color: rgba(28,91,109,.85);
    }

blockquote.ieverse pre span {
    text-align: left;
    display: inline-block;
    white-space: pre;
}

footer {
	background: url('../images/background.jpg');
	padding: 40px;
}

a {color: rgba(28,91,109,.85);
}

h3 {font-weight: 200;

}

